/*********************************************************************
*
*  Módulo Variables
*
*  Defina todas as variáveis que forem ser usadas no projeto
*  nesse módulo.
*  Excessões vendors de terceiros ou components criados
*  para serem indepedentes.
*
*********************************************************************/


/*******************************************************************
*  =Dimension
*********************************************************************/

$base-font-size : 16px;

/*********************************************************************
*  =Colors
*********************************************************************/



/*********************************************************************
*  =Font-size
*********************************************************************/


/*******************************************************************
*  =Dimension Responsive Design
*********************************************************************/

$desktop-modern: 1170px;
$desktop-old: 998px;
$tablets: 768px;
$mobile2: 460px;
$mobile: 320px;
