/*********************************************************************
*
*  Modulo genéricos
*
*  Esse módulo ajuda aumentar a melhor no tempo, ao invés de
*  ficar digitando um propriedade você extende.
*
*  Cuidado ao usar em projetos e lembre-se de usar apenas
*  placeholder (%) para não aumentar o número de linhas
*  em seu projeto
*
*    Como usar:
*
*   .minhaClasse {
*        @extend %display-block, %bold, %text-justify;
*   }
*
*   Nota:
*   Use com consciência
*
*********************************************************************/


/*********************************************************************
*   FONTS AND LINKS
**********************************************************************/

%bold { font-weight: bold; }

%italic { font-style: italic; }

%uppercase { text-transform: uppercase; }

%no-style {text-decoration: none; }

%underline { text-decoration: underline; }

%text-left { text-align: left;}

%text-center { text-align: center;}

%text-right { text-align: right; }

%text-justify { text-align: justify; }


/*********************************************************************
*   DISPLAY
**********************************************************************/

%display-block { display: block; }

%display-inline-block { display: inline-block; }

%displa-inline {display: inline; }

%display-none { display: none; }


/*********************************************************************
*   IMG
**********************************************************************/

%img-replacement {
   text-indent: -999px;
   overflow: hidden;
}

%resize-image{
  width: 100%;
  height: auto;
}


/*********************************************************************
*   SIZE
**********************************************************************/

%section-full{
   @extend %display-block;
   width: 100%;
   min-height: 100%;
}









