/*********************************************************************
*
*  Módulo Mixins
*
*  Defina aqui seus mixins, que ajude a economizar
*  o seu tempo, pare de digitar tanta coisa e prefixos.
*
*  Nota:
*  Usando o vendor Bourbon os mixins diminuiram.
*  Antes de criar um mixin, consulte a documentação do
*  Bourbon e veja se ele já existe. (http://bourbon.io/docs/)
*  Ao criar um mixin, não esqueça de atualizar em outros
*  projetos até mesmo colaborar com esse projeto.
*
*********************************************************************/


/*******************************************************************
*  =Mixin Opacity
*
*   Dar opacidade a elementos
*
*   Modo de usar:
*   .faded-text {
*       @include opacity(0.8);
*   }
*
*********************************************************************/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*******************************************************************
*  =Mixin Shadow
*
*   Adicionar sombra alguma caixa
*
*   Modo de usar:
*   .faded-text {
*       @include box-shadow(0px, 8px, 10px, rgba(172, 170, 170, 0.75));
*   }
*
*********************************************************************/

@mixin box-shadow($hshadow, $vshadow, $blur, $color){
   box-shadow: $hshadow $vshadow $blur $color;
   -moz-box-shadow: $hshadow $vshadow $blur $color;
   -webkit-box-shadow: $hshadow $vshadow $blur $color;
}
